@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
